.btn {
  font-size: 18px;
  font-family: $primary-font;
  text-transform: capitalize;
  padding: 15px 60px;
  font-weight: 400;
  border: 0;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  transition: .2s ease;

  &:focus {
    outline: 0;
    box-shadow: none !important;
  }

  &:active {
    box-shadow: none;
  }
}

.btn-primary {
  background-color: $white;
  color: $text-color-dark;
  transition: background-color .4s ease-out;

  &:active {
    background-color: $white !important;
  }

  &:hover {
    background-color: $gray;
    color: $text-color-dark;
  }
}

.btn-secondary {
  background-color: $gray;
  color: $text-color-dark;
  transition: background-color .4s ease-out;

  &:active {
    background: $gray !important;
  }

  &:hover {
    background: $white;
    color: $text-color-dark;
  }
}

.btn-lg{
  padding: 15px 85px;
}
