<!-- pricing -->
<section class="section-lg pb-0 pricing" id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Our Pricing</h2>
        <p class="mb-50">What? What did I just tell you? Can't you read? <br>
          Why would you even consider throwing money at this? </p>
      </div>
      <div class="col-lg-10 mx-auto">
        <div class="row justify-content-center">
          <!-- pricing table -->
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
            <div class="rounded text-center pricing-table table-1">
              <h3>Free</h3>
              <h1><span>$</span>0</h1>
              <p>Honestly, do NOT use this thing.
                It is only good for wasting time.
              </p>
              <a href="https://youtu.be/auP2RMKz6iw?si=LDqNrWpV_BUt7kFn" class="btn pricing-btn px-2">Get Started</a>
            </div>
          </div>
          <!-- pricing table -->
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
            <div class="rounded text-center pricing-table table-2">
              <h3>Standard</h3>
              <h1><span>$</span>0</h1>
              <p>Why are you still looking at this?
                Why? I am not taking your money.
              </p>
              <a href="https://youtu.be/auP2RMKz6iw?si=LDqNrWpV_BUt7kFn" class="btn pricing-btn px-2">Buy Now</a>
            </div>
          </div>
          <!-- pricing table -->
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
            <div class="rounded text-center pricing-table table-3">
              <h3>Premium</h3>
              <h1><span>$</span>0</h1>
              <p>If you pay for this you have to be fucked in the head.
                Like, seriously.
              </p>
              <a href="https://youtu.be/auP2RMKz6iw?si=LDqNrWpV_BUt7kFn" class="btn pricing-btn px-2">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img class="pricing-bg-shape-1 up-down-animation" src="images/background-shape/seo-ball-1.png" alt="background-shape">
  <img class="pricing-bg-shape-2 up-down-animation" src="images/background-shape/seo-half-cycle.png" alt="background-shape">
  <img class="pricing-bg-shape-3 left-right-animation" src="images/background-shape/team-bg-triangle.png" alt="background-shape">
</section>
<!-- /pricing -->
